footer {
    background-color: var(--green-700);
    width: 100%;
}

.footer-content {
    padding: 3rem 3.5rem;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-content__contatcs h3 {
    font-weight: bold;
}

.footer-content__contatcs p {
    width: 70%;
}

.footer-content__pages ul {
    margin: 0;
    padding: 0;
}

.footer-content__pages .pages-links li a {
    text-decoration: none;
    color: var(--white);
}

.footer-content__pages .pages-links li a:hover {
    color: var(--active-bg-color);
}

.footer-content__pages .pages-links li {
    padding: 4px 0;
}

@media screen and (max-width: 790px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}